@import "variables";

#count-table {
  .answer-cell {
    color: purple; //$answer-cell-color
    background: deeppink;
    padding: 4px 8px 4px 0;
    width: 34px;
    height: 34px;
  }
}


.already-selected {
  font-weight: normal;
  color: yellow;
  font-size: 22px;
  &.count-selected {
    font-weight: bold;
    font-size: 30px;
  }
}